# General
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# IDE specific files and directories
.idea/
*.iml
*.ipr
*.iws
.lock
*.properties

# Android Studio
/.android/
android/
*.gradle
.gradle/
/.local.properties

# VS Code
/.vscode/
.vscode/

# Flutter build directories
/build/
.pub-cache/
/.pub/
/dart_tool/
/flutter-plugins
.flutter-plugins
.packages
.filecache
.app.dill
.buildOutputCleanup.lock
.debug_android_applications.stamp
.executionHistory.bin
.executionHistory.lock
.fileHashes.bin
.fileHashes.lock
.flutter_assets.d
.kernel_snapshot.d
.kernel_snapshot.stamp
.flutter-plugins-dependencies
**/ios/Flutter/.last_build_id

# Flutter output files
*.lock
*.bin
*.probe

# Symbolication and obfuscation files
app.*.symbols
app.*.map.json


# Documentation directories
/doc/api/

# Linting and testing files
**/*.map
**/*.spec



# Build artifacts for Android and iOS
/android/app/debug/
/android/app/profile/
/android/app/release/
ios/Pods/
